.dashboard-container{
    display: flex;
}
.dashboard-card{
    border-radius: 10px;
    min-height: 70px;
    background: white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    overflow: hidden;
}
.link-group-usefull{
    text-align: center;
    margin: 0 15px;
}
.container-links{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    float: right;
}