
.toast{
    border-radius: 7px;
}
.toast-body{
    color: #333;
    font-size: 15px;
}
.Toastify__toast{
    background-color: #FFF;
}
.Toastify__close-button{
    color: #FFF;
}
.toast-progress{
    background: #3C4ADA !important;
}
.toast-progress-error{
    background: rgb(218, 60, 60) !important;
}
.toast-progress-warning{
    background: rgb(236, 219, 65) !important;
}
.toast-progress-success{
    background: rgb(60, 218, 60) !important;
}
.toast-progress-info{
    background: #3C4ADA !important;
}