@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 14px;
    color: #313131;
    background-color: rgb(234, 241, 241);
    font-family: 'Roboto', sans-serif;
    height: inherit;
}

html {
    height: 100%;
}

#root {
    height: inherit;
}

.input-search {
    width: 100%;
    max-width: 450px;
}

.dashboard-container {
    display: flex;
}

.dashboard-card {
    border-radius: 10px;
    min-height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    overflow: hidden;
}

.link-group-usefull {
    text-align: center;
    margin: 0 15px;
}

.container-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    float: right;
}

body {
    background-color: rgb(234, 239, 245);
}

.system-container {
    display: flex;
    padding-left: 200px;
    padding-top: 60px;
}

.app-search {
    margin: 10px 0 0 0;
}

.app-container {
    width: 100%;
}

.app-module-container {
    overflow: hidden;
    background: #FFF;
    margin: 20px 15px;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 1px 3px rgb(153, 178, 209);
    transition: 0.4s;
}

.app-title {
    margin: 15px 10px;
    font-size: 22px;
    color: rgb(62, 77, 95);
    margin-bottom: 10px;
}

.app-subtitle {
    font-size: 16px;
    margin: 15px 10px;
    color: rgb(79, 98, 121);
    margin-bottom: 10px;
}

.tab-container {
    margin-top: 10px;
}

.app-form {
    padding: 15px;
}

.input {
    height: 40px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #313131;
    background-color: RGBA(0, 0, 0, 0);
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.4s;
}

.input:focus {
    background: #FFF;
    box-shadow: inset 0 0 3px rgb(144, 151, 218);
}

input:disabled {
    background: #DDD;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-id {
    max-width: 80px;
    text-align: center;
}

input[type='checkbox'] {
    max-width: 40px;
    margin-left: 0;
}

select:disabled {
    background: #DDD;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group-row {
    display: flex;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group .input {
    flex: 1;
}

.form-label {
    display: inline-block;
    min-width: 160px;
    padding: 0 10px;
    font-size: 14px;
    color: #444;
    text-align: right;
    font-weight: bold;
}

.label-id {
    max-width: 40px;
}

.label-info {
    padding: 10px;
    margin: 10px 0;
    margin-left: 80px;
    border-radius: 5px;
    color: rgb(56, 76, 129);
    font-size: 14px;
    font-weight: bold;
}

.btn-success {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(50, 196, 69);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-success:hover {
    cursor: pointer;
    background-color: rgb(25, 117, 37);
    color: #EEE;
    box-shadow: 0 0 3px rgb(144, 151, 218);
}

.btn-success {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(50, 196, 69);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-success:hover {
    cursor: pointer;
    background-color: rgb(25, 117, 37);
    color: #EEE;
    box-shadow: 0 0 3px rgb(144, 151, 218);
}

.btn-default {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #CCC;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-default:hover {
    cursor: pointer;
    background-color: #666;
    color: #EEE;
    box-shadow: 0 0 3px rgb(144, 151, 218);
}

.btn-primary {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(50, 118, 196);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: rgb(25, 65, 117);
    color: #EEE;
    box-shadow: 0 0 3px rgb(144, 151, 218);
}

.btn-warning {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(187, 32, 32);
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-warning:hover {
    cursor: pointer;
    background-color: rgb(128, 26, 26);
    color: #EEE;
    box-shadow: 0 0 3px rgb(144, 151, 218);
}

.waiting::after {
    content: '...';
}

.waiting:hover {
    cursor: not-allowed;
    background-color: rgb(44, 53, 151);
    color: #FFF;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.modal-body {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 7px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    padding: 0 0 40px 0;
}

.popover-container-delete {
    overflow: hidden;
    max-width: 250px;
    min-width: 150px;
    background-color: #FFF;
    padding: 10px;
    display: flex;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(153, 178, 209);
    z-index: 1;
}

.popover-content-delete {
    font-weight: bold;
    display: flex;
    justify-items: center;

}

@media only screen and (max-width: 620px) {
    .system-container {
        display: flex;
        width: 100%;
        padding-left: 0;
        padding-top: 50px;
    }

    .app-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding: 2px;
    }

    .app-module-container {
        margin: 2px;
    }

    .form-group-row {
        display: block;
    }

    .form-group {
        display: block;
    }

    .form-group .input {
        flex: unset;
        width: 100%;
        margin-top: 0;

    }

    .form-label {
        display: block;
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
        color: #444;
        text-align: left;
        font-weight: bold;
    }

    .modal {
        display: block;
    }
}

.login-content {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.app-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    max-width: 400px;
    flex: 1;
    overflow: hidden;
    transition: 0.4s;
}

.login-background {
    position: absolute;
    top: -50%;
    left: 0;
    height: 150%;
    width: 80%;
    background: linear-gradient(0, #072AC8, #21FA90);
    clip-path: ellipse(43% 75% at 4% 63%);
    z-index: -10;
    transition: 0.4s;
}

.login-background-2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    height: 150px;
    width: 150px;
    background-color: rgb(33, 41, 124);
    clip-path: ellipse(50% 40% at 50% 50%);
    z-index: -10;
    transition: 0.4s;
}

.logo-div {
    transition: 0.4s;
}

.logo-img {
    width: 70%;
    color: #CCC;
    font-size: 72px;
    margin: 40px 20px;
    transition: 0.4s;
}

.text-intro {
    color: #CCC;
    margin: auto;
    padding: 15px;
    transition: 0.4s;
}

.text-tiny {
    font-size: 0.6em;
    color: rgb(103, 220, 255);
}

.form-container {
    margin: auto;
    max-width: 600px;
    padding: 15px;
}

.login-welcome {
    margin: 0 5px;
    margin-bottom: 30px;
    color: #313131;
}

.login-welcome h1 {
    margin-bottom: 5px;
}

.login-welcome p {
    color: #616161;
}

.form-input {
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    flex: 1;
}

.form-input input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    color: #313131;
    background-color: RGBA(0, 0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.4s;
}

.form-input input:focus {
    background: #FFF;
    box-shadow: inset 0 0 3px #3C4ADA;
}

.form-input label {
    display: none;
}

.login-btn-group {
    display: flex;
    flex: 1;
    margin: 0 5px;
    justify-content: space-between;
}

.btn-login {
    padding: 12px;
    border-radius: 30px;
    background-color: #3C4ADA;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    min-width: 120px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-login:disabled {
    background-color: rgb(44, 53, 151);
    color: #FFF;
}

.waiting::after {
    content: '...';
}

.waiting:hover {
    cursor: not-allowed;
    background-color: rgb(44, 53, 151);
    color: #FFF;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #3C4ADA;
    border: solid 1px #3C4ADA;
}

.login-forgotpassword {
    flex: 1;
    margin: auto;
}

.login-content a {
    color: #3C4ADA;
    text-decoration: none;
    transition: 0.4s;
}

.login-content a:hover {
    color: rgb(40, 48, 105);
}

.new-user {
    margin-top: 100px;
    color: #666;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    .login-content {
        height: unset;
    }

    .app-logo {
        position: absolute;
        margin: 5px;
    }

    .login-background {
        position: absolute;
        width: 140%;
        height: 450px;
        top: -250px;
        left: -40%;
        clip-path: ellipse(50% 40% at 50% 50%);
    }

    .logo-div {
        position: absolute;
        top: -20;
    }

    .logo-img {
        position: unset;
        width: 70%;
        color: #FFF;
        top: 0;
        margin: 0;
    }

    .text-intro {

        color: #333;
    }

    .form-container {
        margin-top: 40%;
        z-index: 5;
    }
}

.login-content {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.app-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    max-width: 400px;
    flex: 1;
    overflow: hidden;
    transition: 0.4s;
}

.login-background {
    position: absolute;
    top: -50%;
    left: 0;
    height: 150%;
    width: 80%;
    background: linear-gradient(0, #072AC8, #21FA90);
    clip-path: ellipse(43% 75% at 4% 63%);
    z-index: -10;
    transition: 0.4s;
}

.login-background-2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    height: 150px;
    width: 150px;
    background-color: rgb(33, 41, 124);
    clip-path: ellipse(50% 40% at 50% 50%);
    z-index: -10;
    transition: 0.4s;
}

.logo-div {
    transition: 0.4s;
}

.logo-img {
    width: 70%;
    color: #CCC;
    font-size: 72px;
    margin: 40px 20px;
    transition: 0.4s;
}

.text-intro {
    color: #CCC;
    margin: auto;
    padding: 15px;
    transition: 0.4s;
}

.text-tiny {
    font-size: 0.6em;
    color: rgb(103, 220, 255);
}

.form-container {
    margin: auto;
    max-width: 600px;
    padding: 15px;
}

.login-welcome {
    margin: 0 5px;
    margin-bottom: 30px;
    color: #313131;
}

.login-welcome h1 {
    margin-bottom: 5px;
}

.login-welcome p {
    color: #616161;
}

.form-input {
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    flex: 1;
}

.form-input input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    color: #313131;
    background-color: RGBA(0, 0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.4s;
}

.form-input input:focus {
    background: #FFF;
    box-shadow: inset 0 0 3px #3C4ADA;
}

.form-input label {
    display: none;
}

.login-btn-group {
    display: flex;
    flex: 1;
    margin: 0 5px;
    justify-content: space-between;
}

.btn-login {
    padding: 12px;
    border-radius: 30px;
    background-color: #3C4ADA;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    min-width: 120px;
    border: solid 1px RGBA(0, 0, 0, 0);
    transition: 0.4s;
}

.btn-login:disabled {
    background-color: rgb(44, 53, 151);
    color: #FFF;
}

.waiting::after {
    content: '...';
}

.waiting:hover {
    cursor: not-allowed;
    background-color: rgb(44, 53, 151);
    color: #FFF;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #3C4ADA;
    border: solid 1px #3C4ADA;
}

.login-forgotpassword {
    flex: 1;
    margin: auto;
}

.login-content a {
    color: #3C4ADA;
    text-decoration: none;
    transition: 0.4s;
}

.login-content a:hover {
    color: rgb(40, 48, 105);
}

.new-user {
    margin-top: 100px;
    color: #666;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    .login-content {
        height: unset;
    }

    .app-logo {
        position: absolute;
        margin: 5px;
    }

    .login-background {
        position: absolute;
        width: 140%;
        height: 450px;
        top: -250px;
        left: -40%;
        clip-path: ellipse(50% 40% at 50% 50%);
    }

    .logo-div {
        position: absolute;
        top: -20;
    }

    .logo-img {
        position: unset;
        width: 70%;
        color: #FFF;
        top: 0;
        margin: 0;
    }

    .text-intro {

        color: #333;
    }

    .form-container {
        margin-top: 40%;
        z-index: 5;
    }
}

.constructing-container {
    overflow-x: hidden;
}

.lottie-constructing-animation {
    max-height: 650px;
    width: 100%;
}