.user-card{
    border-radius: 10px;
    background: white;
    max-width: 300px;
    flex-grow:1;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding-top: 15px;
}
.user-profile-pic{
    display: flex;
    margin: auto;
    background-color: #666;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: white;
}
.profile-picture-icon{
    display: flex;
    margin: auto;
    font-size: 23px;
}
.user-data{
    display:block;
    text-align:center;
    width: 100%;
    margin: 10px 0;
}
.user-name{
    display:block;
    font-size: 16px;
    text-align:center;
    font-weight: bold;
    margin: 10px 0;
}
.user-username{
    width:100%;
    color: #666;
    margin: 10px 0;
}
.user-bio{
    margin: 10px 0;
}
.user-counters{
    display: flex;
    padding: 10px 0;
}
.user-counter{
    padding: 5px;
    flex-grow: 1;
}
.counter-name{
    font-weight: bold;
    display:block;
    text-align: center;
    color: #666;
}
.counter-count{
    display:block;
    text-align: center;
    font-size:23px;
    font-weight: lighter;
}